


nav{
    background-color: #9bf8f3;
}

a{
    font-family: 'Permanent Marker', cursive;
}



p{
    font-family: 'Pacifico', cursive;
}

h2{
    font-family: 'Pacifico', cursive;
}

h1{
    font-family: 'Permanent Marker', cursive;
}

div{
    font-family: 'Permanent Marker', cursive;
}
